* {
    margin: 0;
    padding: 0;
}


.pm{
    background-image: url(images/office.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    
    
}
.box{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    opacity: 0.54;

}


.pm h1{
    font-size: 80px;
    text-align: center;
    position: relative;
    color:white;
    top: 120px;
   z-index: 0; 
    
}

.pm p{
    font-size: 20px;
    text-align: center;
    position: relative;
    color:white;
    top: 120px;
   z-index: 0;
    
}

.company{
    
    display:flex;
    justify-content: space-around;
    margin: 90px 30px;
    gap: 90px;

    

}

.company img{
    width: 40%;
}

.Cright {
    margin-top: 60px;
    width: 529px;
    line-height: 1.5;

}
.orange{
    color: #fc7200;
    line-height: 3;
}

