{% extends 'base.html' %}

{% block title %}Home - ZADAR{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='candidateaccount.css') }}">
{% endblock %}

{% block content %}

<main>
    <h1>Create Your Applicant's Account</h1>
    {{ form.hidden_tag()}}
    <div class="container">
        <div class="box1">
            <form action="#" method="post" enctype="multipart/form-data" id="applicant-form">
                <div class="form-group">
                    {{ form.photo.label }}
                    {{ form.photo(class="form-control") }}
                </div>
                <div class="single">
                    <div class="form-group">
                        {{form.linkedIn_link.label}}
                        {{ form.linkedIn_link(placeholder="www.linkedIn.com")}}
                    </div>
                    <div class="form-group">
                        {{ form.country_name.label }}
                        {{ form.country_name }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.city_name.label }}
                    {{ form.city_name }}
                </div>
                <div class="form-group">
                    {{ form.address.label }}
                    {{ form.address(placeholder="Enter Address") }}
                </div>
                <div class="single">
                    <div class="form-group">
                        {{ form.country_code.label }}
                        {{ form.country_code }}
                    </div>
                    <div class="form-group">
                        {{ form.number.label }}
                        {{ form.number }}
                    </div>
                    <div class="form-group">
                        {{form.email.label}}
                        {{ form.email(placeholder="example@domain.com")}}
                    </div>
                </div>
                <div class="form-group">
                    {{form.first_name.label}}
                    {{ form.first_name}}
                </div>
                <div class="form-group">
                    {{form.last_name.label}}
                    {{ form.last_name}}
                </div>
                <div class="form-group">
                    {{ form.candidate_presentation.label }}
                    {{ form.candidate_presentation(placeholder="Write Candidate's presentation") }}
                </div>
                <div class="single">
                    <div class="form-group">
                        {{ form.contract.label }}
                        {{ form.contract }}
                    </div>
                    <div class="form-group">
                        {{ form.sector_name.label }}
                        {{ form.sector_name(placeholder="Select")}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.position_name.label }}
                    {{ form.position_name(placeholder="Select")}}
                </div>
                <div class="form-group">
                    <div>
                     <label>{{ form.disability.label }}</label>

                     {% for subfield in form.disability %}
                        {{ subfield }} {{ subfield.label }}
                    </div>
                    {% endfor %}

                    <div class="form-group">
                        {{ form.age.label }}
                        {{ form.age(placeholder="Enter Age")}}
                    </div>
                    <div class="single">
                        <div class="form-group">
                            {{ form.experience.label }}
                            {{ form.experience(placeholder="Select")}}
                        </div>
                        <div class="form-group">
                            {{ form.salary.label }}
                            {{ form.salary(placeholder="Select")}}
                        </div>
                    </div>
                    <button type="submit" class="btn">Next</button>
            </form>
        </div>
        <div class="box2">
            <img src="/static/images/presentation.jpeg" alt="Presentation">
        </div>
    </div>
</main>


<script>
    document.getElementById('applicant-form').addEventListener('submit', function (event) {
        const telephone = document.getElementById('telephone').value;
        const telephonePattern = /\d{3}-\d{3}-\d{4}/;

        if (!telephonePattern.test(telephone)) {
            event.preventDefault();
            alert('Please enter a valid telephone number in the format XXX-XXX-XXXX.');
        }
    });
</script>
{% endblock %}