{% extends 'base.html' %}

{% block title %}Home - ZADAR{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='candidateaccount2.css') }}">
{% endblock %}

{% block content %}
<main>
    <h1>Create Your Applicant's Account</h1>
    <div class="container">
        <div class="box1">
            <form action="#" method="post" enctype="multipart/form-data" id="applicant-form">
                <div class="grid-temp1">
                    <div>
                        {{form.first_name.label}}
                        {{ form.first_name}}
                    </div>
                    <div>
                        {{form.last_name.label}}
                        {{ form.last_name}}
                    </div>

                    <div>
                        {{ form.experience.label }}
                        {{ form.experience(placeholder="Select")}}
                    </div>

                    <div>
                        {{ form.salary.label }}
                        {{ form.salary(placeholder="Select")}}
                    </div>
                    <div>
                        {{form.last_name.label}}
                        {{ form.last_name}}
                    </div>
                    <div>
                        {{form.number.label}}
                        {{ form.number}}
                    </div>
                    <div>
                        {{form.email.label}}
                        {{ form.email}}
                    </div>
                    <div>
                        {{form.age.label}}
                        {{ form.age}}
                    </div>
                    <div>
                        {{form.gender_preference.label}}
                        {{ form.gender_preference}}
                    </div>
                    <div>
                        {{ form.salary.label }}
                        {{ form.salary(placeholder="Select")}}
                    </div>
                </div>
                <!-- next section -->
                <div class="form-group" >
                    {{ form.disability.label }}
                    {% for subfield in form.disability %}
                    {{ subfield }} {{ subfield.label }}
                    {% endfor %}
                </div>
                <div class="grid-temp1">
                    <div>
                        {{form.first_name.label}}
                        {{ form.first_name}}
                    </div>

                    <div>
                        {{ form.experience.label }}
                        {{ form.experience(placeholder="Select")}}
                    </div>

                    <div>
                        {{ form.salary.label }}
                        {{ form.salary(placeholder="Select")}}
                    </div>
                    <div>
                        {{ form.salary.label }}
                        {{ form.salary(placeholder="Select")}}
                    </div>
                    <div>
                        {{ form.candidate_presentation.label }}
                        {{ form.candidate_presentation(placeholder="Write Candidate's presentation") }}
                    </div>
                    <div>
                        {{ form.candidate_presentation.label }}
                        {{ form.candidate_presentation(placeholder="Write Candidate's presentation") }}
                    </div>
                    <div>
                        {{ form.candidate_presentation.label }}
                        {{ form.candidate_presentation(placeholder="Write Candidate's presentation") }}
                    </div>
                </div>
                <!-- next section -->
                <h3>Professional Experience</h3>
                <p>Experience</p>
                <div class="grid-temp1">
                    <div>
                        {{form.first_name.label}}
                        {{ form.first_name}}
                    </div>
                    <div>
                        {{form.first_name.label}}
                        {{ form.first_name}}
                    </div>
                    <div>
                        {{form.date.label}}
                        {{ form.date}}
                    </div>
                    <div></div>
                    <div>
                        {{ form.candidate_presentation.label }}
                        {{ form.candidate_presentation(placeholder="Write Candidate's presentation") }}
                    </div>
                    <button type="submit" class="btn-exp">Add More</button>
                </div>
                <!-- next section -->
                <h3>Academic Background</h3>
                <p>Higher Education</p>
                <div class="grid-temp1">
                    <div>
                        {{form.first_name.label}}
                        {{ form.first_name}}
                    </div>
                    <div>
                        {{form.first_name.label}}
                        {{ form.first_name}}
                    </div>
                    <div>
                        {{form.date.label}}
                        {{ form.date}}
                    </div>
                    <button type="submit" class="btn-exp1">Add More</button>
                </div>
                
                <div class="grid-lst">
                    <div>
                    {{ form.candidate_presentation.label }}
                    {{ form.candidate_presentation(placeholder="Write Candidate's presentation") }}
                    </div>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
        <div class="box2">
            <img src="/static/images/presentation.jpeg" alt="Presentation">
        </div>
    </div>

</main>

<script>
    document.getElementById('applicant-form').addEventListener('submit', function (event) {
        const telephone = document.getElementById('telephone').value;
        const telephonePattern = /\d{3}-\d{3}-\d{4}/;

        if (!telephonePattern.test(telephone)) {
            event.preventDefault();
            alert('Please enter a valid telephone number in the format XXX-XXX-XXXX.');
        }
    });
</script>
{% endblock %}