{% extends 'base.html' %}

{% block title %}Home - ZADAR{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='companyaccount.css') }}">
{% endblock %}

{% block content %}
<main>
    <h1>Create Your Company Account</h1>
    {{ form.hidden_tag()}}
    <div class="container">
        <div class="box1">
            <form action="" method="post" enctype="multipart/form-data" id="applicant-form">
                <div class="form-group">
                    {{ form.photo.label }}
                    {{ form.photo}}
                </div>
                <div class="single">
                    <div class="form-group">
                        {{form.website_link.label}}
                        {{ form.website_link(placeholder="www.sodewa.com")}}
                    </div>
                    <div class="form-group">
                        {{ form.company_name.label }}
                        {{ form.company_name }}
                    </div>                    
                </div>
                <div class="single">
                    <div class="form-group">
                        {{ form.sector_name.label }}
                        {{ form.sector_name(placeholder="Select Sector")}}
                    </div>
                    <div class="form-group">
                        {{ form.country_name.label }}
                        {{ form.country_name }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.city_name.label }}
                    {{ form.city_name }}
                </div>
                <div class="form-group">
                    {{ form.address.label }}
                    {{ form.address(placeholder="Enter Address") }}
                </div>
                <div class="single">
                    <div class="form-group">
                        {{ form.telephone.label }}
                        {{ form.telephone }}
                    </div>
                    <div class="form-group">
                        {{ form.number.label }}
                        {{ form.number }}
                    </div>
                    <div class="form-group">
                        {{form.email.label}}
                        {{ form.email(placeholder="example@domain.com")}}
                    </div>
                </div>
                <div class="single">
                    <div class="form-group">
                        {{ form.contact.label }}
                        {{ form.contact }}
                    </div>
                    <div class="form-group">
                        {{form.first_name.label}}
                        {{ form.first_name}}
                    </div>
                    <div class="form-group">
                        {{form.last_name.label}}
                        {{ form.last_name}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.company_presentation.label }}
                    {{ form.company_presentation(placeholder="Write Company's presentation") }}
                </div>


                <a href="{{ url_for('companyaccount2') }}" class="btn">Next</a>

            </form>
        </div>
        <div class="box2">
            <img src="/static/images/presentation.jpeg" alt="Presentation">
        </div>
    </div>
</main>


<script>
    document.getElementById('applicant-form').addEventListener('submit', function (event) {
        const telephone = document.getElementById('telephone').value;
        const telephonePattern = /\d{3}-\d{3}-\d{4}/;

        if (!telephonePattern.test(telephone)) {
            event.preventDefault();
            alert('Please enter a valid telephone number in the format XXX-XXX-XXXX.');
        }
    });
</script>
{% endblock %}