{% extends 'base.html' %}

{% block title %}Home - ZADAR{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='partnership.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="pm">
        <div class="box">
            <h1>Partnership & Media</h1>
            <p>Zdar believes in the power of partnership.</p>
        </div>
    </div>


    <div class="company">
        <div class="Cright">
            <h2 class="orange">Our Approach</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, illo corrupti, optio aliquid
                voluptatibus harum vitae sapiente qui aperiam commodi id aliquam sit facere porro natus officia dolor.
                Consectetur rem veritatis non suscipit natus autem libero nisi officia, odit temporibus dolorem id!
                Porro debitis saepe ad nam molestiae quos magnam ab perspiciatis aperiam, sequi rerum necessitatibus
                voluptas quod obcaecati adipisci?</p>
        </div>
    <img src="/static/images/side.png" alt="">
    </div>
    {% endblock %}
